{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AppInem</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
    <link href="{% static 'img/Logo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
    <link href="{% static 'css/styleAppinem.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Dewi
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">AppInem</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo"><img src="Img\Logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Incio</a></li>
          <li><a class="nav-link scrollto" href="#about">Información</a></li>
          <li><a class="nav-link scrollto" href="#services">INEM</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">INEMITA</a></li>
          <!--<li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li class="dropdown"><a href="#team"><span>Notas</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#team"><span>6</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#team">1</a></li>
                  <li><a href="#team">2</a></li>
                  <li><a href="#team">3</a></li>
                  <li><a href="#team">4</a></li>
                  <li><a href="#team">5</a></li>
                  <li><a href="#team">6</a></li>
                  <li><a href="#team">7</a></li>
                  <li><a href="#team">8</a></li>
                  <li><a href="#team">9</a></li>
                  <li><a href="#team">10</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#team"><span>7</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#team">1</a></li>
                  <li><a href="#team">2</a></li>
                  <li><a href="#team">3</a></li>
                  <li><a href="#team">4</a></li>
                  <li><a href="#team">5</a></li>
                  <li><a href="#team">6</a></li>
                  <li><a href="#team">7</a></li>
                  <li><a href="#team">8</a></li>
                  <li><a href="#team">9</a></li>
                  <li><a href="#team">10</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#team"><span>8</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#team">1</a></li>
                  <li><a href="#team">2</a></li>
                  <li><a href="#team">3</a></li>
                  <li><a href="#team">4</a></li>
                  <li><a href="#team">5</a></li>
                  <li><a href="#team">6</a></li>
                  <li><a href="#team">7</a></li>
                  <li><a href="#team">8</a></li>
                  <li><a href="#team">9</a></li>
                  <li><a href="#team">10</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#team"><span>9</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#team">1</a></li>
                  <li><a href="#team">2</a></li>
                  <li><a href="#team">3</a></li>
                  <li><a href="#team">4</a></li>
                  <li><a href="#team">5</a></li>
                  <li><a href="#team">6</a></li>
                  <li><a href="#team">7</a></li>
                  <li><a href="#team">8</a></li>
                  <li><a href="#team">9</a></li>
                  <li><a href="#team">10</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#team"><span>10</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#team">1</a></li>
                  <li><a href="#team">2</a></li>
                  <li><a href="#team">3</a></li>
                  <li><a href="#team">4</a></li>
                  <li><a href="#team">5</a></li>
                  <li><a href="#team">6</a></li>
                  <li><a href="#team">7</a></li>
                  <li><a href="#team">8</a></li>
                  <li><a href="#team">9</a></li>
                  <li><a href="#team">10</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#team"><span>11</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#team">1</a></li>
                  <li><a href="#team">2</a></li>
                  <li><a href="#team">3</a></li>
                  <li><a href="#team">4</a></li>
                  <li><a href="#team">5</a></li>
                  <li><a href="#team">6</a></li>
                  <li><a href="#team">7</a></li>
                  <li><a href="#team">8</a></li>
                  <li><a href="#team">9</a></li>
                  <li><a href="#team">10</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="#about">Empecemos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Bievenido, Juan Adm1.</h1>
      <h2>¡Información urgente!</h2>
      <div class="d-flex">
        <!--<a href="#about" class="btn-get-started scrollto">Exploremos </a>-->
         <link href="{% static 'Img\Cronograma.pdf' %}" class="glightbox btn-watch-video"><i class="bi bi-calendar2-week"></i><span>Semanal</span>
         <link href="{% static 'Img\Horarios.pdf' %}" class="glightbox btn-watch-video"><i class="bi bi-backpack2"></i><span>Horario</span>
        <a href=https://3dwarehouse.sketchup.com/warehouse/v1.0/content/public/52c5e7d3-87da-462d-9cbf-58f542d1362e class="glightbox btn-watch-video"><i class="bi bi-signpost-2"></i><span>Mapa</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="2125" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Alumnos</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Grupos</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="135" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Deserción</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="78" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Admisiones</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
            <h3>Invitaciones eventos</h3>
              <img src="{% static 'Img\Inv.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>¿Cómo va el INEM? (Información del envanze institucional)</h3>
            <p class="fst-italic">
              La institución pasa por un duro golpe con su actualidad en la tasa de deserción, aún así estamos potenciando nuestros egresados, mejorando nuestras instalaciones, la aplicacón en nuevos modelos de estudio y adaptación a las nuevas tecnologías.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> El Bloque 2 de Artes fue entregado en su totalidad. </li>
              <li><i class="bx bx-check-double"></i> Avanzan las obras en el Bloque 5 y se espera la entrega a finales de este año.</li>
              <li><i class="bx bx-check-double"></i> Deseamos mejorar el modelo de Promoción y Evaluación.</li>
              <li><i class="bx bx-check-double"></i> Los alumnos de Media Técnica en programación harán sus exposiciónes de proyecto de grado el día 24 en la sala de programación.</li>
            </ul>
            <p>
              <ul>
                <li><i class="bx bx-chevron-right"></i>"Las directivas del INEM dejan en claro su deseo para que los alumnos de 11° aprueben su año, felicitan a quienes ya lo aprobaron y motivan a quiénes faltan para alcanzar las competencias."</li>
              </ul>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Boxes Section ======= -->
    <section id="about-boxes" class="about-boxes">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
                <img src="{% static 'Img\Texto.jpg' %}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-brush-4-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Texto Mensual (Parte de INEMITA)</a></h5>
                <p class="card-text">"El amor es la fuerza más poderosa del universo." </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
                <img src="{% static 'Img\Idea.jpg' %}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-calendar-check-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Idea Semanal (Parte de INEMITA, aplicación Semanal)</a></h5>
                <p class="card-text">Les plantearemos a nuestos docentes su deseo de generar actividades con énfazis a los nuevos entornos  sociales y ambientales.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
                <img src="{% static 'Img\Foto.jpg' %}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-movie-2-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Foto del día(Todos los días se cambia)</a></h5>
                <p class="card-text">"Siempre hay una luz por más que te la quieran quitar, debes encontrar la forma de verla." </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Boxes Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Desarrollo INEM (Planeación del INEM con sus alumnos, anualmente)</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Comunidad (Lo que ofrece el INEM para crear personas, mensual) </h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Formación INEM (El resultado de ser egresado del INEM, grados 11)</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Apoyo (Como tee puede ayudar el INEM, todos los días)</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>El INEM sigue avanzando.</h3>
                <p class="fst-italic">
                  Ustedes nuestros alumnos son la parte más esencial de la institución, les queremos decir que estas son
                  nuetras intenciones con ustedes:
                </p>
                <ul>
                  <li><i class="ri-calendar-check-line"></i> Darles los espacios y recursos para fomentar sus habilidades.</li>
                  <li><i class="ri-calendar-check-line"></i> Apoyarlos en toda instancia, tanto dentro de la institución como fuera de ella.</li>
                  <li><i class="ri-calendar-check-line"></i> Fomentar el conocimiento para su desarrolo personal y la vida Universitaria.</li>
                </ul>
                <p>
                  Queremos que a largo y corto plazo ustdes los INEMITAS puedes ir creando un proyecto de vida estable y eficiente con el cumplimiento de metas a corto plazo. 
                  El proposito mayor es el logro anual de aprobar el año escolar y encaminarse a la vida Uiversitaria con todos los conocimientos previos y oportunos.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="{% static 'Img/features-1.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Un mundo de experiencias por vivir</h3>
                <p>
                  Nos sentimos orgullosos de nuestra gran diversidad dentro de la institución, nuestros alumnos y docentes
                  son grandes promotores de la esencia INEMITA, desde sus palabras y obras creando un mejor ambiente.
                </p>
                <p class="fst-italic">
                  Ser INEMITA es crearse y desarrollarse así:
                </p>
                <ul>
                  <li><i class="ri-calendar-check-line"></i> Motivando a seguir sus propios rumbos para alzanzar sus metas.</li>
                  <li><i class="ri-calendar-check-line"></i> Desarrollando las habilidades de cada uno en nuestos ambientes académicos.</li>
                  <li><i class="ri-calendar-check-line"></i> Previniendo nuestro entorno de malos paso y malas desiciones.</li>
                  <li><i class="ri-calendar-check-line"></i> Ayudándolos a crecer como personas morales, educadas y con fines a sus principios.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="{% static 'Img/features-2.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Ustedes, nuestro futuro</h3>
                <p>
                  Tenemos un plan de estudio, visión y misión muy enfocada en la creación de alumnos ejemplares 
                  que puedan contribuir de la mejor forma posible a la socieadad con conocimientos de calídad.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> El INEM es un lugar donde los alumnos interactúan con personas de diferentes orígenes y culturas. Esta interacción puede ayudar a los alumnos a desarrollar una comprensión más amplia del mundo y a ser más tolerantes con las diferencias.</li>
                  <li><i class="ri-check-double-line"></i> Las habilidades emocionales incluyen la capacidad de regular las emociones, manejar el estrés, tomar decisiones, etc.</li>
                  <li><i class="ri-check-double-line"></i> Las habilidades cívicas incluyen la capacidad de participar en la vida pública, defender sus derechos, respetar a los demás, etc.</li>
                </ul>
                <p class="fst-italic">
                  En resumen, la institución forma a un alumno de diversas maneras. El INEM transmite conocimientos y habilidades, ayuda a desarrollar el pensamiento crítico y la capacidad de resolución de problemas, y enseña a los alumnos a ser ciudadanos responsables y comprometidos con su comunidad.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="{% static 'Img/features-3.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Lo que podemos hacer juntos.</h3>
                <p>
                  Como entidad educativa el INEM puede proporcionar apoyo de diversas formas, desde lo académico, social, financiero , emocional, etc. Tenemos planes de estudio muy situados en la fomentación estudiantil.
                </p>
                <p class="fst-italic">
                  La institución apoya a sus alumnos de diversas maneras. Estas formas de apoyo pueden ser:
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> El apoyo académico es el tipo de apoyo más evidente que brinda la institución. Este apoyo incluye la provisión de recursos y oportunidades para que los alumnos aprendan y se desarrollen. Los recursos académicos pueden incluir libros, computadoras, laboratorios, maestros capacitados, etc. Esto crea las oportunidades académicas pueden incluir clases, clubes, actividades extracurriculares, etc.</li>
                  <li><i class="ri-check-double-line"></i> El apoyo social es importante para el bienestar emocional y académico de los alumnos. Este apoyo incluye la creación de un ambiente seguro y acogedor donde los alumnos puedan sentirse apoyados y aceptados. El apoyo social puede provenir de maestros, compañeros de clase, consejeros y otros miembros de la comunidad escolar.</li>
                  <li><i class="ri-check-double-line"></i> El apoyo emocional es esencial para el desarrollo de los alumnos. Este apoyo incluye la ayuda a los alumnos a manejar el estrés, las emociones difíciles y los desafíos de la vida. El apoyo emocional puede provenir de maestros, consejeros, padres y otros adultos de confianza.</li>
                  <li><i class="ri-check-double-line"></i> El apoyo financiero puede ser necesario para que los alumnos accedan a la educación. Este apoyo puede incluir becas, subvenciones, préstamos y otros programas de asistencia financiera.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="{% static 'Img/features-4.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>INEM</h2>
          <p>Así crecemos: (Lo más infliyente en los ultimos meses en el INEM)</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-laptop"></i>
              <h4><a href="#">Programación</a></h4>
              <p>La programación es una habilidad valiosa que nos puede ayudar a crecer en muchos aspectos de la vida. La institución tiene recursos disponibles para empezar y mejorar.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bank"></i>
              <h4><a href="#">INEMUN</a></h4>
              <p>Promover el crecimiento económico y el desarrollo social a través de la acción gubernamental. INEMUN desempeña un papel en el crecimiento al crear un entorno favorable.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-alphabet-uppercase"></i>
              <h4><a href="#">Inglés</a></h4>
              <p>El aprendizaje del inglés puede ser un proceso de crecimiento personal y profesional. El inglés es un recurso muy valioso que poseemos y constantemente vemos como crecemos con el.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-moisture"></i>
              <h4><a href="#">Ciencias</a></h4>
              <p>Es una fuerza poderosa, es importante invertir en investigación científica y desarrollo tecnológico para garantizar que esta fuerza se utilice para el bien de la comunidad.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-columns"></i>
              <h4><a href="#">Artes y Humanidades</a></h4>
              <p>Los alumnos pueden desarrollar una comprensión más amplia del mundo, pensar críticamente y creativamente, y desarrollar habilidades de comunicación y resolución de problemas.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bricks"></i>
              <h4><a href="#">Planeación infrasturctura</a></h4>
              <p>Mediante el proceso de planeación de infraestructura efectivo debe considerar las necesidades de todos los interesados y debe ser transparente y participativo.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="">
                <h3>Opiniones, ideas y complementos de la comunidad para el INEM</h3>
                <h4>Rol</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Crear un laboratorio de innovación para probar nuevas ideas y enfoques en la enseñanza y el aprendizaje. También puede ofrecer becas para que los profesores asistan a conferencias y talleres sobre innovación educativa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="">
                <h3>Sebastián Quintero Montes</h3>
                <h4>Docente</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  La institución puede crear un plan de estudios personalizado para cada alumno. También puede ofrecer servicios de apoyo para ayudar a los alumnos que tienen dificultades académicas o personales.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="">
                <h3>Samuel Ruiz Monsalve</h3>
                <h4>Docente</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Debe asociarse con una empresa para crear un programa de pasantías para los alumnos. También puede colaborar con una organización sin fines de lucro para ofrecer programas de educación extracurricular para los alumnos.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="">
                <h3>Samuel Mateo Gracia Blandon</h3>
                <h4>Alumno</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Establecer un centro de investigación educativa para estudiar los resultados de la educación. También puede ofrecer subvenciones a los profesores para que realicen investigaciones sobre nuevos métodos de enseñanza y aprendizaje.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="" class="testimonial-img" alt="">
                <h3>Juan Esteban Velez Montoya</h3>
                <h4>Padre</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Organizar eventos para involucrar a los alumnos, las familias, los empleadores y la comunidad en general.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>INEMITA (Se publica todo lo que la comunidad quiera mostrars)</h2>
          <p>Cultura institucional (De esta forma la comunidad puede competir sanamente y aportar en el desarrollo de ser INEMITA, fomentando las habilidades en el desarrollo creativo)</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todo</li>
              <li data-filter=".filter-app">Fotos</li>
              <li data-filter=".filter-card">Ideas</li>
              <li data-filter=".filter-web">Escritos</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="{% static 'Img\Foto 1.jpeg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Donde Nadie Mira</h4>
              <p>Juan David Sánchez Casas</p>
                <link href="{% static 'Img\Foto 1.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="{% static 'Img\Foto 2.jpeg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Un Día Más</h4>
              <p>Desconocido</p>
                <link href="{% static 'Img\Foto 2.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="{% static 'Img\Foto 3.jpeg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>El Toque</h4>
              <p>Docente</p>
                 <link href="{% static 'Img\Foto 3.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="{% static 'Img\Idea.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Implementación de los recursos</h4>
              <p>Alumno</p>
                <link href="{% static 'Img\Idea.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="{% static 'Img\Idea 2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mejorar Las Habilidades De Comunicación</h4>
              <p>Padre</p>
                <link href="{% static 'Img\Idea 2.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="{% static 'Img\Idea 3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Nuevos Recursos</h4>
              <p>Madre</p>
                <link href="{% static 'Img\Idea 3.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="{% static 'Img\Texto.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>El Amor Es La Fuerza Más Poderosa Del Universo</h4>
              <p>Bard</p>
                <link href="{% static 'Img\Texto.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="{% static 'Img\Texto 2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>La Escuela</h4>
              <p>Samuel Ruiz Monsalve</p>
                <link href="{% static 'Img\Texto 2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="{% static 'Img\Texto 3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>El Amor Oscuro</h4>
              <p>Un poeta</p>
                <link href="{% static 'Img\Texto 3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Notas (Link con la parte del docente para ver sus notas en tiempo real y actualizadas)</h2>
          <p>Tu rendimiento</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Primer Periodo</h4>
                <span>Promedio</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Segundo Periodo</h4>
                <span>Promedio</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Tercer Periodo</h4>
                <span>Promedio</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

    <div class=" section-title">
        <h2>Contacto</h2>
        <p>Comuniquémonos</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253851.69221760685!2d-75.86613178253175!3d6.206517136780405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46827f7a881345%3A0xdf94c4d13c76ebb!2sInstituci%C3%B3n%20Educativa%20Inem%20Jos%C3%A9%20F%C3%A9lix%20de%20Restrepo!5e0!3m2!1ses!2sco!4v1692379043539!5m2!1ses!2sco" style="border:0; width: 100%; height: 200px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <i class="bx bx-map"></i>
                <h3>Medellín</h3>
                <p>Cra. 48 #1-125, Patio Bonito, Poblado</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Correos</h3>
                <p>inemjose@inemjose.edu.co<br>appinem@inemjose.edu.co</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Líneas móviles</h3>
                <p>+57 300 454 13 87<br>+57 315 646 08 36</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje fue enviado con éxito</div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>
        </div>

      </div>

      </div>
    </section> <!-- End Contact Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/mainAppinem.js' %}"></script>

</body>

</html>